* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

#container {
    background: url("./img/background.jpeg");
    padding-bottom: 200px;
}

#cabecalho {
    padding: 28px 56px;
}

#button-entrar {
    background: #e50914;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border: 0;
    border-radius: 3px;
    float: right;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 45px;
    width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.paragrafo-assista {
    font-size: 26px;
    text-align: center;
    margin-top: 14px;
}

.paragrafo-pronto {
    font-size: 20px;
    text-align: center;
    margin-top: 35px;
}

input {
    width: 460px;
    padding-left: 10px;
}

.btn-email {
    width: 180px;
    background-color: #e50914;
    border: 0ch;
    font-size: 24px;
    cursor: pointer;
}

#form {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    height: 55px;
}

.rodape {
    background-color: black;
    border-top: 7px solid #303030;
    padding: 100px 0;
}

h2 {
    font-size: 50px;
    text-align: center;
}

#btn-pergunta {
    width: 815px;
    background-color: #303030;
    height: 70px;
    border: 0;
    font-size: 26px;
    margin-top: 40px;
    text-align: left;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}

.img-pergunta {
    float: right;
    margin-top: 8px;
    transform: rotate(45deg);
}

#pergunta {
    width: 815px;
    background-color: #303030;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3px;
    padding: 30px;
    font-size: 26px;
    width: 815px;
    display: none;
}